@model List<ProductDiscountVM>

<div class="row">
	<div class="product__discount__slider owl-carousel">

		@foreach (var item in Model)
		{
			<div class="col-lg-4">
				<div class="product__discount__item">
					<div class="product__discount__item__pic set-bg"
					 data-setbg="img/product/discount/pd-1.jpg">
						<div class="product__discount__percent">-@item.Discount%</div>
						<ul class="product__item__pic__hover">
							<li><a href="#"><i class="fa fa-heart"></i></a></li>
							<li><a href="#"><i class="fa fa-retweet"></i></a></li>
							<li>
								<a data-productId="@item.ProductID" href="javascript:void(0)" class="addshopingcart">
									<i class="fa fa-shopping-cart"></i>
								</a>
							</li>
						</ul>
					</div>
					<div class="product__discount__item__text">
						<span>@item.CategoryName</span>
						<h5><a asp-action="Detail" asp-controller="Product" asp-route-productId="@item.ProductID">@item.ProductName</a></h5>
						<div class="product__item__price">$@item.NewPrice<span>$@item.OldPrice</span></div>
					</div>
				</div>
			</div>
		}
	</div>
</div>

@section sepetScript{
	<script src="~/pageJs/AddToCart.js"></script>
}